body {
  background-image: url(assets/image.jpg);
  background-size: cover;       
  background-repeat: no-repeat;  
  background-position: center;   
  background-attachment: fixed; 
}
.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center; 
}

h1{
  margin: 50px;
  font-size: 3rem;
}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(154, 142, 142, 0.318);
  border-radius: 25px;
  margin-bottom: 25px;
  transition: 0.25 ease;
}

.color-display p{
  color: black;
  font-size: 2rem;
  text-align: center;
}

label{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid black;
}